<ul class="pager">
	<li><a ui-sref="index" class="previous pull-left"><i class="fa-long-arrow-left"></i> Back </a></li>
</ul>
<h1> Create post </h1>
<form ng-submit="savePosts()">
	<div class="form-group">
		<label>Title</label> 
		<input type="text" class="form-control" ng-model="title" placeholder="Title" required="required">
	</div>

	<div class="form-group">
	  <label>Categories</label> 
		<input type="text" class="form-control" ng-model="categories" placeholder="categories" required="required">
	</div>

	<div class="form-group">
		<label>Content</label> 
		<input type="text" class="form-control" ng-model="content" placeholder="content" required="required">
	</div>
	<input type="submit" class="btn btn-success" value="save">
</form>