<h1>List Posts</h1>
<input type="submit" class="btn btn-success" value="Add Posts" ng-click="addPosts()">
<hr>
<div>
	<table class="table table-bordered table-striped">
		<thead>
			<td>Id</td>
			<td>Title</td>
			<td>Categories</td>
			<td>Delete</td>
			<td>Edit</td>
		</thead>
		<tbody ng-repeat="item in list">
			<tr>
				<td>{{ item.id }}</td>
				<td>{{ item.title }}</td>
				<td>{{ item.categories }}</td>
				<td><input type="button" class="btn btn-danger" ng-click="delPosts(item.id)" value="Delete"></td>
				<td><input type="button" class="btn btn-info" ng-click="editPosts(item.id)" value="Edit"></td>
			</tr>
		</tbody>
	</table>
</div>
